body
{  
    background-color: rgb(175, 235, 235);

}

  button
  {
      background-color: rgb(169, 160, 179);
      border: 4px bold rgb(14, 10, 3);
      color: rgb(13, 14, 14);
      border-radius: 40%;
  } 
  .pp
  {
    font-family:Arial, Helvetica, sans-serif;
    color: blue; 
    font-size: 500%;
     
  }